#!/bin/bash

# common options
ldapsearch_args="-LLL -b {{ base_dn }} -H ldapi:///"
ldapsearch_external="ldapsearch -Q -Y EXTERNAL"
ldapsearch_simple_bind="ldapsearch -x"

##############################################################
echo "####################"
echo "ldapsearch as rootDN"
$ldapsearch_simple_bind $ldapsearch_args -D {{ rootdn_name }},{{ base_dn }} -w {{ rootdn_password }} "(cn=Ron Weasley)" dn

##############################################################
echo "####################"
echo "ldapsearch as EXTERNAL"
$ldapsearch_external $ldapsearch_args "(cn=Ron Weasley)" dn

##############################################################
echo "####################"
echo "ldapsearch as ldap-admin"
$ldapsearch_simple_bind $ldapsearch_args -D uid=ldap-admin,{{ users_ou }},{{ base_dn }} -w {{ ldap_admin_password }} "(cn=Ron Weasley)" dn

##############################################################
echo "####################"
echo "ldapsearch for Ron as sssd-user"
$ldapsearch_simple_bind $ldapsearch_args -D uid=sssd-user,{{ users_ou }},{{ base_dn }} -w {{ sssd_user_password }} "(cn=Ron Weasley)" dn

echo "ldapsearch for Harry as sssd-user"
$ldapsearch_simple_bind $ldapsearch_args -D uid=sssd-user,{{ users_ou }},{{ base_dn }} -w {{ sssd_user_password }} "(cn=Harry Potter)" dn

##############################################################
echo "####################"
echo "ldapsearch for own DN as unprivileged user"
$ldapsearch_simple_bind $ldapsearch_args -D "cn=Ron Weasley,{{ users_ou }},{{ base_dn }}" -w {{ regular_users_password }} "(cn=Ron Weasley)" dn

echo "ldapsearch for other DN as unprivileged user"
$ldapsearch_simple_bind $ldapsearch_args -D "cn=Ron Weasley,{{ users_ou }},{{ base_dn }}" -w {{ regular_users_password }} "(cn=Harry Potter)" dn

##############################################################
echo "####################"
echo "ldapsearch as anonymous (should fail with 'No such object (32)')"
$ldapsearch_simple_bind $ldapsearch_args "(cn=Ron Weasley)" dn
