dn: ou=users,dc=training,dc=b1-systems,dc=de
ou: users
objectclass: top
objectClass: organizationalUnit

dn: ou=groups,dc=training,dc=b1-systems,dc=de
ou: groups
objectclass: top
objectClass: organizationalUnit
